a {
  text-decoration: none;
}

a:link {
  color: blue;
}

a:visited {
  color: purple;
}

a:hover {
  color: orange;
}

a:focus {
  color: red;
  outline: 2px solid black;
}

a:active {
  color:brown;
}

.list {
  border: 2px solid green;
  line-height: 2;
  background-color: rgb(243, 214, 243);
}

.sub-item {
  list-style-type: square;
}